@mixin load-font($name, $style, $weight, $filename) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('../fonts/#{$filename}.woff2') format('woff2');
    src: url('../fonts/#{$filename}.woff') format('woff');
    src: url('../fonts/#{$filename}.ttf') format('truetype');
  }
}

@mixin font($name, $weight) {
  font-family: $name, $f-system;
  font-weight: $weight;
}

@mixin no-select {
  user-select: none;
  -webkit-user-drag: none;
}

@mixin hide-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin reset {
  all: initial;

  * {
    all: unset;
  }
}

@mixin trs($type: null) {  
  @if $type == 'bezier' {
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33);
  }
  
  @else {
    transition: 0.2s ease;
  }
}

@mixin bdrs($type: null) {
  @if $type == 'sm' {
    border-radius: $s-base;
  }

  @else {
    border-radius: $s-base * 2;
  }
}

@mixin shadow($type: null) {
  @if $type == 'smooth' {
    box-shadow: 0 0 24px rgba(#000, 0.02);
  }

  @else {
    box-shadow: 0 2px 4px rgba(#000, 0.08);
  }
}

@mixin blur {
  backdrop-filter: blur(16px) saturate(180%);
}

@mixin bg-setup {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin overlay($type: null) {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    @if $type != 'gradient' {
      background: rgba(#000, 0.36);
    }

    @if $type == 'gradient' {
      background: linear-gradient(to bottom, rgba(#000, 0.28), rgba(#000, 0.2));
    }
    
    @if $type == 'no-content' {
      z-index: unset;
    }

    @else {
      z-index: -1;
    }

    @content;
  }
}
