* {
  box-sizing: border-box;
}

::selection {
  background: $c-primary-200;
  color: #fff;
}

::-webkit-scrollbar {
  width: $s-base;
  background: none;
}

::-webkit-scrollbar-thumb {
  @include bdrs;

  background: $c-gray-300;
}

img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
p {
  @include reset;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

h1 {
  line-height: $f-line-height-sm;
}

img {
  @include no-select;

  max-width: 100%;
}

input,
textarea,
button,
select {
	&::placeholder {
    @include no-select;
    @include trs;

		color: inherit;
	}

	&:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  @include no-select;

  cursor: pointer;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @include font($f-inter, $f-inter-regular);
  
  overflow-x: hidden;
  font-size: $f-size;
  line-height: $f-line-height;
  color: $c-gray-500;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  height: 100%;

  &.no-scroll {
    overflow-y: hidden;
    
    @media (min-width: 992) {
      padding-right: $s-base; // scrollbar size
    }
  }

  main {
    background: linear-gradient(to bottom, #fff, $c-gray-100);
    flex-grow: 1;
  }

  footer {
    margin-top: auto;
  }
}

h1 {
  @include font($f-inter, $f-inter-bold);

  font-size: $s-base * 12;
  color: $c-gray-500;

  @media (max-width: 576px) {
    font-size: $s-base * 9;
  }
}

h2 {
  @include font($f-inter, $f-inter-bold);

  font-size: $s-base * 9;
  color: $c-gray-500;

  @media (max-width: 576px) {
    font-size: $s-base * 7;
  }
}

h3 {
  @include font($f-inter, $f-inter-medium);

  font-size: $s-base * 6;
  color: $c-gray-600;
}

h4 {
  @include font($f-inter, $f-inter-medium);

  font-size: $s-base * 4;
  color: $c-gray-600;
}

strong {
  @include font($f-inter, $f-inter-semibold);

  font-size: $s-base * 4;
  color: $c-gray-600;
}

small {
  @include font($f-inter, $f-inter-regular);

  font-size: $s-base * 3;
  color: $c-gray-400;
}

.row {
  --bs-gutter-x: #{$s-gutter};
  --bs-gutter-y: #{$s-gutter};
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: var(--bs-gutter-x, #{math.div($s-gutter, 2)});
  padding-left: var(--bs-gutter-x, #{math.div($s-gutter, 2)});
}

.fslightbox-open {
  height: auto !important;
}

.fslightbox-container {
  font-family: inherit !important;
  font-weight: inherit !important;
}
