$c-primary-100: #9ed864;
$c-primary-200: #7eca4e;
$c-primary-300: #488a11;

$c-gray-100: #f6f6f6;
$c-gray-200: #eeeeee;
$c-gray-300: #bdbdbd;
$c-gray-400: #696969;
$c-gray-500: #2c2c2c;
$c-gray-600: #111111;

$f-size: 16px;
$f-line-height: 1.7;
$f-line-height-sm: 1.2;

$f-system: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
$f-inter: '_inter';
$f-inter-regular: 400;
$f-inter-medium: 500;
$f-inter-semibold: 600;
$f-inter-bold: 700;

$s-base: 4px;
$s-gutter: $s-base * 5;
